
<ion-view view-title="What's On - {{params.city}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left">
            <span class="icon ion-navicon"></span>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="loadEvents()" pulling-text="Pull to Refresh"></ion-refresher>

        <a ui-sref="eventDetail({id: event.id, name: event.name})" class="item item-thumbnail-left" ng-repeat="event in events | orderBy: 'distance'" >
            <img ng-src="{{event.image}}" />
            <span class="badge badge-energized" side="bottom">{{event.distance | formatDistance}}</span>
            <h2>{{event.name}}</h2>
            <h4>{{event.address}}</h4>
            <!--<p><strong>Start time:</strong> {{getDateFormat(event.datetime_start) | date: 'shortTime'}}</p>-->
          <p><strong>Start time:</strong> {{event.startDateTime | date: 'shortTime'}}</p>
            <p>{{event.description}}</p>

        </a>
        <!--<ion-infinite-scroll on-infinite="scrollBottom()"> &lt;!&ndash;ng-if="eventsNum > 20" immediate-check="false"&ndash;&gt;</ion-infinite-scroll>-->
    </ion-content>
</ion-view>
